<!--
  Generated template for the Atividade page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>{{disciplina.nome}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="novaAtividade()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let atividade of atividades">
      <h2>{{atividade.nome}}</h2>
      <p>Data de entrega: {{atividade.dataEntrega}}</p>
      <ion-note color="success" *ngIf="atividade.entregue == 'true'">Entregue</ion-note>
      <ion-note color="danger" *ngIf="atividade.entregue == 'false'">Não entregue</ion-note>
      <button color="dark" ion-button icon-only item-right (click)="editaAtividade(atividade)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button color="dark" ion-button icon-only item-right (click)="entregar(atividade)" *ngIf="atividade.entregue == 'false'">
        <ion-icon name="checkmark" color="success"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>
